<h1>Puppies are cute!</h1>

<ul>
  <% @puppies.each do |puppy| %>
    <li>
      <%= puppy.name %> is a <%= puppy.age %> years old <%= puppy.breed %> who can<%= 'not' unless puppy.tricks %> do tricks.
    </li>
  <% end %>
</ul>
